<div class="container">
  <div class="jumbotron">
  <div class="row">
  <div class="col-md-6">
  <h2>
    Are you ready for the challenge ?
  </h2>
  <!-- <md-toolbar color="primary">
    <span>Are you ready for the challenge ? </span>
  </md-toolbar> -->
</div>
<!-- <div class="col-md-6"> -->
 
<mat-tab-group>
  <mat-tab label="HOME">
<br>
<!-- Home tab containing candidate registration form  -->

    <!-- <div class="row"> -->
    <div class="formContainer col-md-9 pull-right">
      <h4> Candidate Details:</h4>
     
      <form [formGroup] = "form" (submit) = "onRegister()">
      <!-- <div class="form-group"> -->
         <mat-form-field>
        <input type ="text" matInput placeholder="Your Name" name="name" formControlName = "name">
         </mat-form-field>
      <!-- </div> -->
      <!-- <div class="form-group"> -->
        <mat-form-field>
        <input  matInput placeholder="Your Email ID"  name="email" formControlName = "email">
      </mat-form-field>
      <!-- </div> -->
      <!-- <div class="form-group"> -->
        <mat-form-field>
        <mat-select placeholder="Select Subject" name="technology" formControlName="technology"> 
            
            <mat-option value="1">Java</mat-option>
            <mat-option value="2">Dot Net </mat-option>
            <mat-option value="3">Javascript</mat-option>
            <mat-option value="4">HTML/CSS</mat-option>
        
      </mat-select>
    </mat-form-field>
     <mat-form-field>
      <!-- </div> -->
       <!--  <div class="form-group"> -->
        <mat-select placeholder="Relevant experience"  name="exp" formControlName="exp"> 
            
            <mat-option value="1">0-1 year</mat-option>
            <mat-option value="2"> 2-4 years</mat-option>
            <mat-option value="3">5-8 years</mat-option>
            <mat-option value="4">8 and above</mat-option>
                
      </mat-select>
       </mat-form-field>

<br>
<button mat-raised-button color="primary" type="submit" class="pull-right">Start Quiz!</button>
    </form>
 <!--    </div>-->
  </div>
<!-- End Home tab -->
  </mat-tab>
  <mat-tab label="QUIZ RULES">
<br>
<div class="formContainer col-md-9 pull-right">
    <h4> Conditions of participation </h4>
<ul>
<li>Participation in the quiz is free and open to all persons above 18 years old. </li>

<li>Company reserves the right to conduct necessary checks in order to verify the identity, postal address and/or e-mail address of the participants.</li>

<li>The persons who have given incomplete or inaccurate personal and contact details will be disqualified for the draw, as will be the persons who refuse that their personal details – which are necessary for the game – be collected, kept and used.</li>

<li>Participation in the quiz implies that participants accept the integrality of these rules.</li>
</ul>
</div>

  </mat-tab>
  <mat-tab label="FAQ">
    <br>
    <div class="formContainer col-md-9 pull-right">
    <h4> Frequently Asked Questions </h4>
      <ul>
      <li>Participation in the quiz is free and open to all persons above 18 years old. </li>

      <li>Company reserves the right to conduct necessary checks in order to verify the identity, postal address and/or e-mail address of the participants.</li>

      <li>The persons who have given incomplete or inaccurate personal and contact details will be disqualified for the draw, as will be the persons who refuse that their personal details – which are necessary for the game – be collected, kept and used.</li>

      <li>Participation in the quiz implies that participants accept the integrality of these rules.</li>
      </ul>
</div>

  </mat-tab>
</mat-tab-group>
 
<!-- </div> -->
</div>

<!-- {{form.controls.name.value}}
  	 -->

</div>
<hr>
<div class="row">
   <div class="col-md-8 col-md-offset-2 show-hide-message">
          <div [ngClass]="messageClass">
              <span [ngClass]="iconClass">&nbsp;</span>{{message}}
          </div>
      </div>
    </div>
 </div>


